<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main class="mainDashboard">
      <div class="containerMain">
        <h1>Dashboard</h1>
        <p class="welcome">
          <strong>Welcome <%= user.usernameDisplayed%></strong>
        </p>
        <% if (user.membership) { %>
        <p class="membershipStatus">
          <strong>Membership Status:</strong> <span class="active">Active</span>
        </p>
        <% } else {%>
        <p class="membershipStatus">
          <strong>Membership Status:</strong>
          <span class="inactive">Inactive</span>
        </p>
        <%}%>
        <div class="buttonsDashboard">
          <% if (!user.membership) {%>
          <button><a href="/membership">Activate Membership</a></button>
          <%} else {%> <% if (!user.isAdmin) {%>
          <button><a href="/admin">Become Admin</a></button>
          <button><a href="/create_post">Create Post</a></button>
          <% } else {%>
          <span class="adminButton">Admin</span>
          <button><a href="/create_post">Create Post</a></button>
          <% }%> <% } %>

          <button><a href="/logout">Logout</a></button>
        </div>

        <div class="userPosts">
          <h2>Your Posts</h2>
          <hr />
          <div class="dahsboardPosts">
            <section class="posts">
              <% if (user.membership && messages.length === 0) {%>
              <h2 class="emptyPostDashboard">No posts yet</h2>
              <% } else if (!user.membership) {%>
              <h2 class="emptyPostDashboard">You must be a member to post</h2>
              <%} else { %> <% messages.forEach(function(message) {%>
              <div class="postDashboard">
                <div class="postInfo">
                  <img src="/images/profile.jpeg" alt="" />
                  <div class="username_date">
                    <h2><%= message.user.username %></h2>
                    <p><%= message.formatted_date %></p>
                  </div>
                </div>
                <div class="postText">
                  <h2><%= message.title %></h2>
                  <p><%= message.text %></p>
                </div>
                <% if (user.isAdmin) {%>
                <div class="adminBtn">
                  <button>
                    <a href="/dashboard"
                      ><img src="/images/trash.svg" alt="trash icon"
                    /></a>
                  </button>
                </div>
                <% } %>
              </div>
              <% })%> <% }%>
            </section>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
