<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main class="mainHome">
      <h1>Posts</h1>
      <section class="posts">
        <% messages.forEach(function(message) {%>

        <div class="post">
          <div class="postInfo">
            <img src="/images/profile.jpeg" alt="" />
            <div class="username_date">
              <% if (!user) { %>
              <h2>Anonymous</h2>
              <p>Membership required to see the user</p>
              <% } else {%>
              <h2><%= message.user.username %></h2>
              <p><%= message.formatted_date %></p>
              <% }%>
            </div>
          </div>
          <div class="postText">
            <h2><%= message.title %></h2>
            <p><%= message.text %></p>
          </div>
        </div>
        <% })%>
      </section>
    </main>
  </body>
</html>
